body {
    writing-mode: horizontal-tb;
    font-size: 20px !important;
    width: 95% !important;
    height: 50% !important;
    position: absolute !important;
    left: 49% !important;
    top: 30% !important;
    transform: translate(-50%, -55%) !important;
}
p {
    font-size: 1em !important;
    text-align: left !important;
}
table {
    margin-left: 0 !important;
}
pre, tr, td, div.warning {
    font-size: 1em !important;
    background: #d8dee9;
}
span {
    font-size: 1em !important;
}
pre {
    margin: 10px 0 !important;
    padding: 0.75em 0.75em !important;
}
th {
    font-size: 1em;
}


/* Same font for all tags */
pre, code {
    font-family: "JetBrains Mono", "IBM Plex Mono", "Monaco";
}

a, em, caption, th, tr, td, h1, h2, h3, h4, h5, h6, p, body {
    font-family: "Tabular", "Microsoft YaHei", Georgia,Cambria,"Times New Roman",Times,serif !important;
}

h1 {
    font-size: 2em !important;
    color: #2e3440 !important;
    margin-bottom: 10px !important;
}
h2 {
    font-size: 1.5em !important;
    color: #2e3440 !important;
    margin-bottom: 10px !important;
}
h3 {
    font-size: 1.3em !important;
    color: #2e3440 !important;
    margin-bottom: 10px !important;
}
h4 {
    font-size: 1.2em !important;
    color: #2e3440 !important;
    margin-bottom: 10px !important;
}
h5 {
    font-size: 1.1em !important;
    color: #2e3440 !important;
    margin-bottom: 10px !important;
}
h6 {
    font-size: 1em !important;
    color: #2e3440 !important;
    margin-bottom: 10px !important;
}
code {
    font-size: 1em !important;
}
:root {
    color-scheme: light; /* both supported */
}
body img {
    max-width: 80%;
}
dl.calloutlist p:first-child {
    margin-top: 25px !important;
}
dd p {
    text-align: left !important;
    margin-bottom: 25px !important;
}
