body {
    writing-mode: horizontal-tb;
    background-color: #282c34 !important;
    color: #bbc2cf !important;
    font-size: 20px !important;
    width: 95% !important;
    height: 50% !important;
    position: absolute !important;
    left: 49% !important;
    top: 30% !important;
    transform: translate(-50%, -55%) !important;
}
h1, h2, h3, h4, h5, h6 {
    /*color: #d4d4d4 !important;*/
    border-bottom: 0px solid #d4d4d4 !important;
}
p {
    font-size: 1em !important;
    text-align: left !important;
}
table {
    margin-left: 0 !important;
}
pre, tr, td, div.warning {
    font-size: 1em !important;
    background: #272c35;
}
span {
    font-size: 1em !important;
}
pre {
    margin: 10px 0 !important;
    padding: 0.75em 0.75em !important;
}
th {
    font-size: 1em;
    color: #d4d4d4 !important;
}

span {
    color: #d4d4d4 !important;
}
h1 {
    color: #ffaf69 !important;
}
h2 {
    color: #3fc6b7 !important;
}
h3 {
    color: #88d498 !important;
}
h4 {
    color: #80c3f0 !important;
}
h5 {
    color: #cccccc !important;
}
h6 {
    color: #cccccc !important;
}

/* Same font for all tags */
pre, code {
    font-family: "JetBrains Mono", "IBM Plex Mono", "Monaco";
}
a, em, caption, th, tr, td, h1, h2, h3, h4, h5, h6, p, body {
    font-family: "Tabular", "Microsoft YaHei", Georgia,Cambria,"Times New Roman",Times,serif !important;
}
code {
    font-size: 1em !important;
}
:root {
    color-scheme: dark; /* both supported */
}

body p.title  {
    color: #d4d4d4 !important;
}

body a{
    color: #809fff !important;
}
body img {
    max-width: 80%;
    /*filter: brightness(.8) contrast(1.2); */
}
dl.calloutlist p:first-child {
    margin-top: 25px !important;
}
dd p {
    text-align: left !important;
    margin-bottom: 25px !important;
}
