html {
    scroll-behavior: smooth;
}

body {
    writing-mode: horizontal-tb;
    font-size: 20px !important;
    text-align: left !important;
    width: 95% !important;
    height: 50% !important;
    position: absolute !important;
    left: 49% !important;
    top: 30% !important;
    transform: translate(-50%, -55%) !important;
}
p {
    font-size: 1em !important;
    text-align: left !important;
    line-height: 1.3 !important;
    margin-bottom: 25px !important;
}
pre, tr, td, div.warning {
    font-size: 1em;
    background: #d8dee9;
}
th {
    font-size: 1em;
}

/* Same font for all tags */
a, em, caption, th, pre, tr, td, code, h1, h2, h3, h4, h5, h6, p, body {
    font-family: \"Fira Code\", Georgia,Cambria,\"Times New Roman\",Times,serif !important;
}
h1 {
    font-size: 2em !important;
    color: #2e3440 !important;
    margin-bottom: 10px !important;
}
h2 {
    font-size: 1.5em !important;
    color: #2e3440 !important;
    margin-bottom: 10px !important;
}
h3 {
    font-size: 1.3em !important;
    color: #2e3440 !important;
    margin-bottom: 10px !important;
}
h4 {
    font-size: 1.2em !important;
    color: #2e3440 !important;
    margin-bottom: 10px !important;
}
h5 {
    font-size: 1.1em !important;
    color: #2e3440 !important;
    margin-bottom: 10px !important;
}
h6 {
    font-size: 1em !important;
    color: #2e3440 !important;
    margin-bottom: 10px !important;
}
code {
    font-size: 1em !important;
}
:root {
    color-scheme: light; /* both supported */
}

body img {
    max-width: 100% !important;
}
