# -*- mode: snippet -*-
# name: dependency
# key: dep
# --

<dependency>
   <groupId>${1:groupId}</groupId>
   <artifactId>${2:artifactId}</artifactId>
   <version>${3:version}</version>
</dependency>