# -*- mode: snippet -*-
# name: jdk_version
# key: jdk
# --

<java.version>${1:java_version}</java.version>
<maven.compiler.source>\${java.version}</maven.compiler.source>
<maven.compiler.target>\${java.version}</maven.compiler.target>