# -*- mode: snippet -*-
# name: absl
# key: absl
# --

http_archive(
  name = "com_google_absl",
  urls = ["https://github.com/abseil/abseil-cpp/archive/${1:20200923.3}.zip"],
  strip_prefix = "abseil-cpp-$1",
)