body {
  writing-mode: horizontal-tb;
  font-size: 20px !important;
  width: 95% !important;
  height: 50% !important;
  position: absolute !important;
  left: 50% !important;
  top: 30% !important;
  transform: translate(-50%, -55%) !important;
  overflow-x: hidden;
}
p {
  line-height: 2em !important;
  font-size: 1em !important;
  text-align: left !important;
}
table {
  margin-left: 0 !important;
}
tr, td, div,th {
  font-size: 1em !important;
  color: inherit !important;
}
span {
  font-size: 1em !important;
}

/* Same font for all tags */
pre, code {
  font-size: 1em !important;
  line-height: 1.2em !important;
  font-family: "JetBrains Mono", "SF Mono", Monaco, monospace !important;
}
*:not(pre):not(code) {
  font-family: "Tabular", "Microsoft YaHei", Georgia,Cambria,"Times New Roman",Times,serif !important;
}
h1 {
  color: #2e3440 !important;
}
h2 {
  color: #2e3440 !important;
}
h3 {
  color: #2e3440 !important;
}
h4 {
  color: #2e3440 !important;
}
h5 {
  color: #2e3440 !important;
}
h6 {
  color: #2e3440 !important;
}
:root {
  color-scheme: light; /* both supported */
}
body img {
  max-width: 80%;
}

/* custom css */
dl.calloutlist p:first-child {
  margin-top: 25px !important;
}
dd p {
  text-align: left !important;
  margin-bottom: 25px !important;
}
code.inlineCode {
  white-space: normal !important;
}
[class^="callout"] {
  background-color: inherit !important;
}
